/*
* Colors
*/
$black-primary:  #1C1C1C;
$white-primary:  #FFFFFF;
$yellow-primary: #FFAA17;
$grey-primary:   #C1C1C1;

$black-secondary: #1D2122;
$red-secondary:   #F45E5D;
$green-secondary: #4FC649;
$white-secondary: #F3F3F3;
$grey-secondary:  #A5A5A5;

$light-grey:        #EDEDED;